/* ---------------Specification------------------ */

@font-face{
	src: url('../fonts/Roboto-Light.ttf');
	font-family: 'Roboto-Light';
}
$rl:'Roboto-Light';
@font-face{
	src: url('../fonts/Roboto-Bold.ttf');
	font-family: 'Roboto-Bold';
}
$rb:'Roboto-Bold';
@font-face{
	src: url('../fonts/Roboto-Condensed.ttf');
	font-family: 'Roboto-Condensed';
}
$rc:'Roboto-Condensed';
@font-face{
	src: url('../fonts/Roboto-Regular.ttf');
	font-family: 'Roboto-Regular';
}
$rr:'Roboto-Regular';
@font-face{
	src: url('../fonts/Roboto-Thin.ttf');
	font-family: 'Roboto-Thin';
}
$rt:'Roboto-Thin';
@font-face{
	src: url('../fonts/Big-Noodle-Titling.ttf');
	font-family: 'Big-Noodle-Titling';
}
$bnt:'Big-Noodle-Titling';

@font-face{
	src: url('../fonts/MgOpen Modata.ttf');
	font-family: 'MgOpen Modata';
}
$mom:'MgOpen Modata';

html{
	font-size: 10px;
}

*{
	margin: 0;
    padding: 0;
	transition: all 500ms ease;	
	box-sizing: border-box;
}

.container{
	max-width: 1050px;
	margin: 0 auto;
	padding-left: 23px;
	padding-right: 23px;
}

input:focus::-webkit-input-placeholder{
	color: transparent;
}

textarea:focus::-webkit-input-placeholder{
	color: transparent;
}

$orange: #f6744b;
$black: #3d3d3d;
$gray: #696969;

%bcg{
	content: '';
	display: block;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}

/* ---------------Button Up------------------ */

.topNubex{
	position: fixed;
	right: 30px;
	bottom: 30px;
	display: block;
	text-decoration: none;
	font-size: 5rem;
	z-index: 10;
	border-radius: 50%;
	color: $orange;
	&:hover{
		color: #c0301c;
	}
}

/* ------------------Header------------------ */

.header{
	background-color: #f8f6f6;
	padding-top: 20px;
	&__box{
		display: flex;
		justify-content: space-between;
		padding-bottom: 20px;
		align-items: center;
		position: relative;
	}
	&__logo{
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	&__icon{
		padding-right: 25px;
		font-size: 4rem;
		color: $orange;
	}
	&__name{
		font-family: $bnt;
		font-size: 4rem;
		color: $gray;
		text-transform: uppercase;
		font-weight: normal;
		padding-bottom: 5px;
	}
	&__content{
		background-color: #353535;
		color: #d6d5d5;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 700px;
	}
	&__title{
		font-family: $bnt;
		font-size: 7.2rem;
		text-transform: uppercase;
		text-align: center;
		font-weight: normal;
	}
	&__slogan{
		@extend .header__title;
		font-size: 3.6rem;
	}
	&__scroll{
		text-align: center;
		margin-top: 170px;
		text-decoration: none;
		color: #d6d5d5;
	}
	&__mouse{
		font-size: 3.6rem;
		padding-bottom: 20px;
	}
	&__input{
		font-family: $rb;
		font-size: 1.2rem;
		text-transform: uppercase;
		margin-bottom: 46px;
	}
}

/* ------------------Burger------------------ */

.burger__menu.show{
	display: flex;
	animation: burgerOpen 1s;
}
.burger{
	width: 100px;
  	height: 100px;
	transform: translate(-50%, -50%);
	position: absolute;
	right: -50px;
	&__menu{
		display: none;
		width: 100%;
		position: absolute;
		top: 89px;
		left: 0px;
		right: 0;
		flex-direction: column;
	}
	&__item{
		font-family: $rr;
		font-size: 2rem;
		color: #505050;
		background-color: #f8f6f6;
		text-align: center;
		padding: 10px 0;
		box-sizing: border-box;
		border: none;
		text-decoration: none;
		text-transform: capitalize;
		padding: 10px 70px;
		&:hover{
			color: #f6744b;
		}
	}
}

@keyframes burgerOpen{
  0%{
	transform: translateY(-25px);
  }
  100%{
	transform: translateY(0);
  }
}

/* ---------------- Burger button ------------------ */

svg{
	position: absolute;
	top: 57px;
	bottom: 0;
	right: 0;
	left: 0;
	/* top: 50%;
	left: 50%; */
	/* transform: translate(-50%, -50%); */
	cursor: pointer;
  }
  
  svg path{
	stroke-width: 35;
	stroke-linecap: round;
	stroke: $gray;
	fill: none;
	transition: all .5s ease-in-out;
  }
  
  /* In menu form */
  
  .top_bar,
  .bottom_bar{
	stroke-dasharray: 240px 910px;
  }
  
  .middle_bar{
	stroke-dasharray: 240px 240px;
  }
  
  /* In cross form */
  
  .open .top_bar,
  .open .bottom_bar{
	stroke-dashoffset: -650px;
  }
  
  .open .middle_bar{
	stroke-dasharray: 0px 220px;
	stroke-dashoffset: -120px;
  }


/* ------------------Section repeat------------------ */

.section{
	&__repeat{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title{
		font-family: $bnt;
		font-size: 4.8rem;
		text-transform: uppercase;
		color: $black;
		text-align: center;
		&--black-theme{
			color: #f6f6f6;
			font-family: $rc;
			font-size: 3.6rem;
			text-transform: uppercase;
		}
	}
	&__line{
		width: 153px;
		height: 1px;
		background-color: #f4511e;
		border-top: 1px solid #fddcd2;
		border-bottom: 1px solid $orange;
		margin-top: 5px;
		&--black-theme{
			width: 86px;
			height: 1px;
			background-color: #404040;
			border-top: none;
			border-bottom: none;
			margin-top: 20px;
		}
	}
	&__text{
		font-family: $rt;
		font-size: 1.4rem;
		color: $gray;
		padding-top: 30px;
		padding-bottom: 60px;
		text-align: center;
	}
}

/* ------------------About Us------------------ */

.about{
	padding-top: 100px;
	padding-bottom: 100px;
	&__box{
		display: flex;
		justify-content: center;
	}
	&__item{
		background-color: #ebebeb;
		box-sizing: border-box;
		flex-basis: 29%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 40px;
		&:first-child{
			margin-right: 2%;
		}
		&:last-child{
			margin-left: 2%;
		}
	}
	&__icon{
		font-size: 6rem;
		color: $orange;
	}
	&__title{
		font-family: $rb;
		font-size: 1.77rem;
		color: #707070;
		text-transform: uppercase;
		text-align: center;
		padding-top: 30px;
		padding-bottom: 20px;
	}
	&__input{
		font-family: $rt;
		font-size: 1.4rem;
		color: #707070;
		text-align: center;
		width: 100%;
	}
}

/* ------------------Behind the scene------------------ */

.behind{
	display: flex;
	background-color: #171f23;
	&__box{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-basis: 50%;
		padding-bottom: 50px;
		padding-top: 20px;
	}
	&__content{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 3%;
		flex-basis: 50%;
	}
	&__title{
		font-family: $rb;
		font-size: 3rem;
		color: #e7e7e7;
		text-transform: uppercase;
		text-align: center;
	}
	&__text{
		font-family: $rt;
		font-size: 1.4rem;
		color: $gray;
		padding: 40px 0;
		text-align: center;
		width: 100%;
	}
	&__button{
		font-family: $rb;
		font-size: 1.4rem;
		color: #ebebeb;
		text-transform: uppercase;
		text-decoration: none;
		background-color: #e84c3d;
		box-sizing: border-box;
		padding: 14px 30px 11px 30px;
		border-bottom: 2px solid #b11000;
		margin-bottom: 6%;
	}
	&__video{
		display: flex;
		flex-basis: 50%;
		position: relative;
	}
	&__image{
		background-size: auto 100%;
		filter: grayscale(100%);
		width: 100%;
		height: 100%;
		flex-basis: 100%;
		}
	&__icon{
		font-size: 15rem;
		color: #f5f5f5;
		position: absolute;
		top: 30%;
		left: 290px;
		cursor: pointer;
	}
}


/* ------------------Our works------------------ */

.works{
	padding-top: 80px;
	&__choose{
		display: flex;
		justify-content: center;
	}
	&__item{
		font-family: $rl;
		font-size: 1.4rem;
		color: $black;
		margin-right: 1%;
		text-transform: uppercase;
		margin-bottom: 30px;
		transition: none;
		padding-right: 0.3px;	/* фикс изменения толщины в ховер */
		padding-left: 0.3px;
		&:last-child{
			margin-right: 0;	/* строка не относится к фиксу */
			padding-left: 2.1px;
		}
		&:first-child{
			padding-right: 2px;
		}
		&:nth-child(2){
			padding-right: 1px;
			padding-left: 1px;
		}
		&:nth-child(4){
			padding-right: 0.7px;
			padding-left: 0.7px;
		}
		&:hover{
			font-family: $rb;
			border-bottom: 1px solid #e84c3d;
			cursor: pointer;
			margin-bottom: 28px;
			transition: none;
			padding-right: 0;
			padding-left: 0;
		}
	}
	&__gallery{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		
	}
	&__image{
		flex-basis: 20%;
		max-width: 100%;
	}
}
.templates{
	background-color: #1c1c1c;
	padding-top: 100px;
	padding-bottom: 100px;
	display: flex;
	justify-content: center;
	&__item{
		display: flex;
		justify-content: flex-start;
		margin-right: 40px;
		&:last-child{
			margin-right: 0;
		}
	}
	&__icon{
		height: 35px;
		width: 35px;
		border: 1px solid #fff;
		border-radius: 4px;
		background-color: #333132;
		position: relative;
		display: flex;
		justify-content: flex-start;
		margin-right: 10px;
	}
	&__img{
		
		&--first{
			position: absolute;
			left: 9px;
		}
		&--second{
			position: absolute;
			left: -15px;
		}
		&--third{
			position: absolute;
			left: -4px;
			top: -3px;
			
		}
	}
	&__name{
		font-family: $mom;
		font-size: 3.3rem;
		color: #ececec;

	}
}

/* ------------------Who we are------------------ */

.team{
	padding-top: 100px;
	padding-bottom: 100px;
	display: flex;
	justify-content: space-between;
	&__box{
		display: flex;
	}
	.associate{
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #ebebeb;
		box-sizing: border-box;
		padding: 72px 7% 130px;
		flex-basis: 27.5%;
		margin-right: 2.5%;
		&__photo{
			width: 134px;
			height: 134px;
			border-radius: 50%;
		}
		&__name{
			font-family: $rb;
			font-size: 2rem;
			color: $black;
			text-transform: uppercase;
			padding-top: 30px;
			padding-bottom: 8px;
		}
		&__profession{
			font-family: $rl;
			font-size: 1.4rem;
			color: $gray;
			text-transform: uppercase;
			padding-bottom: 20px;
		}
		&__icon{
			color: #696969;
		}
	}
	.skills{
		background-color: #ebebeb;
		flex-basis: 70%;
		box-sizing: border-box;
		padding: 130px 5% 90px 6%;
		&__title{
			font-family: $rb;
			font-size: 2.4rem;
			color: $black;
			text-transform: uppercase;
		}
		&__input{
			font-family: $rt;
			font-size: 1.4rem;
			color: $gray;
			padding-top: 30px;
			padding-bottom: 50px;
		}
		&__item{
			display: flex;
			justify-content: flex-start;
			align-items: center;
			box-sizing: border-box;
			margin: 25px 0;
		}
		&__programm{
			font-family: $rb;
			font-size: 1.4rem;
			text-transform: uppercase;
			flex-basis: 22%;
		}
		&__line{
			max-width: 370px;
			height: 1.6px;
			background-color: #fff;
			position: relative;
			display: flex;
			flex-direction: column;
			flex-basis: 79%;	
			margin-right: 2%;
			&--first{
				&::before{
					content: '';
					position: absolute;
					left: 0;					
					background-color: #e84c3d;
					height: 1.6px;
					width: 88%;
				}
			}
			&--second{
				&::before{
					content: '';
					position: absolute;
					left: 0;
					background-color: #e84c3d;
					height: 1.6px;
					width: 92%;
				}
			}
			&--third{
				&::before{
					content: '';
					position: absolute;
					left: 0;
					background-color: #e84c3d;
					height: 1.6px;
					width: 90%;
				}
			}
			&--fourth{
				&::before{
					content: '';
					position: absolute;
					left: 0;
					background-color: #e84c3d;
					height: 1.6px;
					width: 98%;
				}
			}
		}
		&__percent{
			font-family: $rl;
			font-size: 1.4rem;
			flex-basis: 3%;
			align-self: flex-end;
		}
	}
}

@keyframes startLineFirst {
	from{
		width: 0;
	}
	to{
		width: 88%;
	}
}
@keyframes startLineSecond {
	from{
		width: 0;
	}
	to{
		width: 92%;
	}
}
@keyframes startLineThird {
	from{
		width: 0;
	}
	to{
		width: 90%;
	}
}
@keyframes startLineFourth {
	from{
		width: 0;
	}
	to{
		width: 98%;
	}
}
.team__box:hover .skills__line--first:before{
	animation: startLineFirst 1.5s;
}
.team__box:hover .skills__line--second:before{
	animation: startLineSecond 1.5s;
}
.team__box:hover .skills__line--third:before{
	animation: startLineThird 1.5s;
}
.team__box:hover .skills__line--fourth:before{
	animation: startLineFourth 1.5s;
}

/* ------------------Socials------------------ */

.socials{
	&__item{
		font-size: 1.4rem;
		margin-right: 10px;
		text-decoration: none;
		&--white{
			color: #e2e0e0;
		}
		&:last-child{
			margin-right: 0;
		}
	}
}

/* ------------------Some features------------------ */

.features{
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #171f23;
	&__content{
		display: flex;
		justify-content: space-around;
		padding-top: 50px;
	}
	&__item{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__icon{
		font-size: 6rem;
		color: #ff7062;
	}
	&__title{
		color: #f6f6f6;
		font-family: $rl;
		font-size: 1.8rem;
		text-transform: capitalize;
		padding-top: 25px;
		padding-bottom: 20px;
	}
	&__number{
		font-family: $rl;
		font-size: 4.8rem;
		color: #f6f6f6;
	}
}

/* ------------------Blog posts------------------ */

.blog{
	padding-top: 100px;
	padding-bottom: 100px;
	&__box{
		display: flex;
		justify-content: space-between;
	}
	.post{
		background-color: #ebebeb;
		flex-basis: 30%;
		margin-right: 2%;
		box-sizing: border-box;
		padding-bottom: 25px;
		
		&:last-child{
			margin-right: 0;
		}
		&__box{
			padding: 0 33px 0 30px;
			display: flex;
			justify-content: space-between;
		}
		&__date{
			display: flex;
			align-items: center;
		}
		&__input{
			font-family: $rc;
			font-size: 1rem;
			color: $gray;
		}
		&__rewiews{
			display: flex;
			justify-content: flex-end;
		}
		&__like{
			display: flex;
			align-items: center;
			margin-right: 8px;
			cursor: pointer;
			text-decoration: none;
		}
		&__comment{
			display: flex;
			align-items: center;
			cursor: pointer;
			text-decoration: none;
		}
		&__icon{
			font-size: 1.4rem;
			color: $gray;
			padding-right: 7px;
		}
		
	}
		&__photo{
			/* transition: none; */
			max-width: 100%;
		}
		&__image{
		position: relative;
		&--hidden{
			display: none;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			justify-content: center;
			align-items: center;
		}
		&-circle{
			width: 43px;
			height: 43px;
			background-color: #e87e5d;
			border-radius: 50%;
			position: relative;
			&:first-child{
				margin-right: 6%;
			}
			&:hover{
				background-color: #f6e5e0;
			}
		}
		&-icon{
			font-size: 2.4rem;
			color: #f6e5e0;
			text-decoration: none;
			position: absolute;
			top: 23%;
			left: 23%;
		}
		
	}
	&__title{
		font-family: $rl;
		font-size: 1.8rem;
		color: #505050;
		padding: 40px 0 0 25px;
		text-transform: capitalize;
	}
	&__input{
		font-family: $rt;
		font-size: 1.4rem;
		color: $gray;
		padding: 32px 25px 32px 30px;
	}

}

.blog__image-circle:hover .blog__image-icon{
	color: #e87e5d;
}

.blog__image:hover .blog__image--hidden{
	display: flex;
}

.blog__image:hover .blog__photo{
	filter: blur(2px);
}

.post__like:hover .post__icon,
.post__like:hover .post__input{
	color: #e87e5d;
}

.post__comment:hover .post__icon,
.post__comment:hover .post__input{
	color: #e87e5d;
}

/* ------------------Choose plan------------------ */

.plan{
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #171f23;
	&__box{
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		margin-top: 55px;
	}
	.choose{
		flex-basis: 24.5%;
		display: flex;
		flex-direction: column;
		text-align: center;
		box-sizing: border-box;
		transition: none;
		margin-top: 1px;
		margin-bottom: 1px;
		&:hover{
			border: #f6744b 1px solid;
			transition: none;
			margin-top: 0;
			margin-bottom: 0;
		}
		&__box{
			background-color: #0e1316;
			padding-top: 37px;
			padding-bottom: 37px;
		}
		&__title{
			font-family: $rb;
			font-size: 1.4rem;
			color: #fff;
			text-transform: uppercase;
			padding-bottom: 12px;
		}
		&__cost{
			font-family: $rl;
			font-size: 3.6rem;
			color: #fff;
		}
		&__dollar{
			font-size: 2.4rem;
		}
		&__content{
			background-color: #1f282c;
			padding-top: 50px;
			padding-bottom: 45px;
		}
		&__line{
			display: flex;
			justify-content: center;
			padding-bottom: 25px;
			&:nth-child(4){
				padding-bottom: 77px;
			}
		}
		&__number{
			font-family: $rr;
			font-size: 1.4rem;
			color: #fff;
			padding-right: 6px;
		}
		&__input{
			font-family: $rl;
			font-size: 1.4rem;
			color: #f0f1f1;
			
		}
		&__button{
			font-family: $rb;
			font-size: 1.4rem;
			color: #fff;
			background-color: #f6744b;
			text-decoration: none;
			text-transform: uppercase;
			padding: 12px 20px;
			border-radius: 2px;
			&:hover{
				background-color: #fff;
				color: #f6744b;
			}
		}
	}
}

/* ------------------Get in touch------------------ */

.touch{
	padding-top: 100px;
	padding-bottom: 100px;
	&__form{
		padding-top: 100px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__item{
		flex-basis: 48%;
		&--big{
			flex-basis: 100%;
			margin-top: 50px;
		}
	}
	&__title{
		font-family: $rb;
		font-size: 1.4rem;
		color: #696969;
		text-transform: uppercase;
	}
	&__star{
		color: #f6744b;
	}
	&__input{
		outline: none;
		border: none;
		border-bottom: 1px solid #cacaca;
		width: 100%;
		margin-top: 30px;
		box-sizing: border-box;
		padding: 10px 20px;
		font-family: $rr;
		font-size: 2rem;
		color: #696969;
	}
	&__button{
		margin-top: 60px;
		font-family: $rb;
		font-size: 1.4rem;
		text-transform: uppercase;
		color: #fff;
		outline: none;
		border: none;
		cursor: pointer;
		background-color: #f6744b;
		padding: 20px 42px;
		&--center{
			margin: 0 auto;
		}
	}
}

/* ------------------Footer------------------ */
.footer{
	background-color: #171f23;
	padding-top: 50px;
	padding-bottom: 50px;
	&__box{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__icon{
		color: #e14d1e;
		font-size: 4rem;
	}
	&__name{
		font-family: $bnt;
		font-size: 2.4rem;
		color: #fff;
		text-transform: uppercase;
		padding-top: 10px;
		padding-bottom: 14px;
	}
	&__input{
		font-family: $rc;
		font-size: 1.4rem;
		color: #f0f0f0;
		text-transform: uppercase;
		padding-bottom: 20px;
	}
}

/* ------------------Get in touch------------------ */

@media screen and (max-width: 1170px){
	.behind{
		display: flex;
		flex-wrap: wrap;
		&__box{
			flex-basis: 100%;
		}
		&__video{
			flex-basis: 100%;
		}
	}
}

@media (max-width: 1045px){
	.team{
		&__box{
			flex-wrap: wrap;
		}
		.associate{
			flex-basis: 100%;
			margin-right: 0;
			margin-bottom: 20px;
		}
		.skills{
			flex-basis: 100%;
		}
	}
	.features{
		&__content{
			flex-wrap: wrap;
		}
		&__item{
			flex-basis: 48%;
			margin-bottom: 4%;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.blog{
		&__box{
			flex-wrap: wrap;
			justify-content: center;
		}
		.post{
			margin: 30px 30%;
			&:first-child{
				margin-top: 0;
			}
			&:last-child{
				margin: 30px 30%;
				margin-bottom: 0;
			}

		}
	}
	.plan{
		&__box{
			flex-wrap: wrap;
		}
		.choose{
			flex-basis: 48%;
			margin-bottom: 31px;
			&:hover{
				margin-bottom: 30px;
			}
			&:last-child{
				margin-bottom: 1px;
				&:hover{
					margin-bottom: 0;
				}
			}
		}
	}
}
@media (max-width: 768px){
	.about{
		&__box{
			flex-direction: column;
			align-items: center;
		}
		&__item{		
			flex-basis: 50%;
			&:first-child{
				margin-right: 0;
				margin-bottom: 30px;
			}
			&:last-child{
				margin-left: 0;
				margin-top: 30px;
			}
		}
	}
	.behind{
		&__content{
			flex-basis: 100%;
		}
	}
	.works{
		&__templates{
			flex-direction: column;
			align-items: center;
		}
	}
	.templates{
		&__item{
			&:first-child{
				margin-right: 0;
				margin-bottom: 30px;
			}
			&:nth-child(2){
				margin-right: 0;
			}
			&:last-child{
				margin-left: 0;
				margin-top: 30px;
			}
		}
	}
	.team{
		.skills{
			&__item{
				flex-direction: column;
				align-items: center;
			}
			&__line{
				width: 100%;
				margin-right: 0;
			}
			&__percent{
				margin-right: 10%;
			}
		}
	}
}

@media (max-width: 475px){
	.burger{
		right: -70px;
	}
	.works{
		&__choose{
			flex-wrap: wrap;
		}
	}
	.features{
		&__item{
			flex-basis: 100%;
			margin-bottom: 10%;
		}
	}
	.blog{
		.post{	
			margin: 30px 0;
			&:first-child{
				margin-top: 0;
			}
			&:last-child{
				margin-right: 0;
				margin-left: 0;
			}
		}
	}
	.plan{
		.choose{
			flex-basis: 100%;
		}
	}
	.touch{
		&__item{
			flex-basis: 100%;
			&:first-child{
				margin-bottom: 50px;
			}
		}
	}
}